<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Noah Bot is an open source discord bot that is maintained at a community level, making it easy for everyone to contribute to the project.">
        <meta name="author" content="Tuxy.">
      <link rel="stylesheet" media="screen and (min-width: 900px)" href="./css/dark.css">
      <link rel="stylesheet" media="screen and (-webkit-min-device-pixel-ratio: 2)" href="./css/dark-mobile.css">
<!--link rel="stylesheet" media="screen and (max-width: 660px)" href="./css/dark-mobile.css"-->
      <link rel="icon" href="https://cdn.discordapp.com/icons/486930309494079500/7c8b5d22d4538aad62e948acbd35154f.webp">
        <title>Noah Bot API</title>
    </head>
    <body>
      <div class="app-mount" style="position: relative;" id="appmount">
        <header>
          <div class="logo"></div>
            <button class="btn btn-nav" onclick="location.href='/docs';">
              Documentation
          </button>
            <button class="btn btn-nav">
              Statistics <div class="beta-tag">beta</div>
          </button>
        <button class="btn btn-nav">
              Panel <div class="beta-tag">beta</div>
          </button>
        </header>
        <button class="btn-spotify" onclick="location.href='https://discordapp.com/api/oauth2/authorize?client_id=486586509193904138&permissions=8&redirect_uri=https%3A%2F%2Fnoahapi.glitch.me%2Fthanks&response_type=code&scope=bot%20identify';" style="position: absolute; align-self: center; " align="center">
          Invite to server
        </button>
        <div class="pp vapor" style="position: absolute; right: 90px; top: 260px;"><div id="vapor" class="status-dnd"></div><span class="tooltip">Developer</span></div>
        <div class="pp tuxy" style="position: absolute; right: 160px; top: 230px;"><div id="tuxy" class="status-online"></div><span class="tooltip">Project Manager</span></div>
        <div class="pp zev" style="position: absolute; left: 160px; top: 230px;"><div id="zev" class="status-idle"></div><span class="tooltip">A Random Bloke</span></div>
        <div class="pp muvoo" style="position: absolute; left: 90px; top: 260px;"><div id="win" class="status-online"></div><span class="tooltip">ItsJhalt</span></div>
      </div>
        <a href="https://github.com/Code-Craver/NoahBotAPI" class="float" target="_blank">
            <img class="my-float">
        </a>
    </body>
</html>
<script>document.addEventListener('DOMContentLoaded', function() {
    console.log("hi");
  }, false);

</script>


