@import url('https://fonts.googleapis.com/css?family=Poppins');
body {
   background-color: #34383c;
}
.message {
  text-align: center;
  margin-top: 20%;
 top: 0%;
  left: 0%;
  font-size: 40px;
  font-family: Poppins, sans-serif;
  color: white;
}
